*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4f4f4;
  text-align: center;
  display: flex;
  justify-content: center;
}

button {
  font: inherit;
  margin: 0 auto;
  padding: 5px 35px;
  border-radius: 8px;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

section {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
  margin: 10px;

}

section:first-child {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  background: #6943ff;
  color: white;
  padding: 40px 30px;
 
}

#inputNumber {
  font-size: 30px;
  width: 15rem;
  margin: 20px auto;
}
