*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4f4f4;
  width: 100;
  display: flex;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

section:first-child {
  font-size: 1.3rem;
  background: #6943ff;
  color: white;
  height: 180px;
}
