*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #f4f4f4;
  text-align: center;
}

button {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

section:first-child {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  background: #6943ff;
  color: white;
  padding: 40px 30px;
}

#inputNumber {
  font-size: 60px;
  border: 1px solid;
  margin: 20px auto;
  padding: 0px 20px;
}
